<div class="block-cols block-cols--2 flexible">
    <div class="col media">
        <img src="images/img.jpg" alt="">
    </div>
    <div class="col">
        <p>Компания АвтоГаз12, специализирующаяся на продаже и установке газобаллонного оборудования (ГБО), успешно работает на рынке Украины с 1998 года.</p>
    </div>
</div>

<p>Высочайшее качество ГБО на авто от ведущих мировых производителей, которое мы предлагаем нашим клиентам, является главной особенностью представленной продукции, проверенной автомобилистами Европы на протяжении нескольких десятков лет. Наши поставщики — бренды с мировым именем: AC STAG, TOMASETTO, ALEX, ATIKER, LANDI RENZO, BIGAS, VALTEK, BRC, KME, LOVATO, PRINS, HANA вот некоторые из них.</p>

<div class="block-cols block-cols--2 flexible">
    <div class="col">
        <p>Целью нашей компании является максимальное удовлетворение потребностей наших клиентов. Для нас важно, чтобы наши клиенты получали высокое качество за «разумные деньги». Надеемся, что наша продукция поможет Вам экономить средства и более бережно относиться к окружающей среде.</p>
    </div>
    <div class="col media">
        <img src="images/img.jpg" alt="">
    </div>
</div>

<p>На данный момент компания АвтоГаз12, является одним из лидеров в сфере продаж и установки ГБО в Украине. Пользуясь нашими услугами вы получаете качество и безопасность, что подтверждается многолетним опытом работы компании. Мы с уверенностью можем гарантировать подлинность и оригинальность комплектующих ГБО, которые представлены в нашем онлайн-каталоге, потому что мы сотрудничаем только с проверенными и зарекомендовавшими себя поставщиками. Вы можете не беспокоиться о надежности поставок: AutoGas.com.ua гарантирует защиту персональных данных клиента, информации о заказах и платежах.</p>

<div class="block-cols block-cols--3 flexible">
    <div class="col">
        <img src="images/img.jpg" alt="">
        <p>Мы находимся в Харькове, на авторынке "Лоск".</p>
    </div>
    <div class="col">
        <img src="images/img.jpg" alt="">
        <p>Вы всегда можете обратиться к нашим специалистам за качественным и надежными услугами по оптимальной стоимости.</p>
    </div>
    <div class="col">
        <img src="images/img.jpg" alt="">
        <p>Мы также осуществляем комплекс услуг, связанных с его использованием: установка, диагностика, настройка, ремонт, а также продажа в рассрочку.</p>
    </div>
</div>

<p>Но мы не только предлагаем высококлассное газобаллонное оборудование разных поколений, мы также осуществляем комплекс услуг, связанных с его использованием: установка, диагностика, настройка, ремонт, а также продажа в рассрочку. Мы находимся в Харькове, на авторынке "Лоск". Вы всегда можете обратиться к нашим специалистам за качественным и надежными услугами по оптимальной стоимости.</p>