.banners.flexible
    .banners-slider.slick-slider
        .banners-slider__item
            img(src="images/banner.jpg", alt="")
        .banners-slider__item
            img(src="images/banner.jpg", alt="")
        .banners-slider__item
            img(src="images/banner.jpg", alt="")
        .banners-slider__item
            img(src="images/banner.jpg", alt="")
        .banners-slider__item
            img(src="images/banner.jpg", alt="")
    .banners-top.flexible.desktop-only
        .banners-top__col
            a(href="#")
                img(src="images/banner-lg.jpg", alt="")
        .banners-top__col.col--sm
            a(href="#")
                img(src="images/banner-md.jpg", alt="")
        .banners-top__col.col--sm
            .col__item
                a(href="#")
                    img(src="images/banner-sm1.jpg", alt="")
            .col__item
                a(href="#")
                    img(src="images/banner-sm2.jpg", alt="")