.breadcrumbs-outer.container
    .breadcrumbs.grad
        ul
            li
                a(href="#")
                    span Главная
            li
                a(href="#")
                    span Оборудование 4 поколения
            li
                a(href="#")
                    span Комплектующие для систем впрыска