<div id="category-filters" class="category-filters">
    <div class="category-bar__header flexible no-desktop">
        <b>Фильтры</b>

        <button class="btn-filters-close" type="button" data-fancybox-close>
            <span>закрыть</span>
        </button>
    </div>

    <div class="category-filters__selected">
        <div class="category-filters__top-line flexible">
            <span>Активные фильтры:</span>

            <a href="#">Сбросить все</a>
        </div>

        <ul class="filters-list flexible">
            <li><a href="#">Atiker</a></li>
            <li><a href="#">LPGTECH</a></li>
            <li><a href="#">Sequent Plug&Drive MY10 Boxer Lorem</a></li>
            <li><a href="#">4 цилиндра</a></li>
        </ul>
    </div>

    <div class="category-filters__block block--accordion block--car-brand">
        <button class="block__title accordion active" type="button">
            <b>Марка авто</b>
        </button>

        <div class="accordion-panel">
            <div class="car-brand scrollbar-outer">
                <div class="block__panel">
                    <ul class="car-brand__list list--top">
                        <li><a href="#">Chevrolet</a></li>
                        <li><a href="#">KIA</a></li>
                        <li><a href="#">Geely</a></li>
                        <li><a href="#">Volkswagen</a></li>
                        <li><a href="#">Renault</a></li>
                    </ul>

                    <ul class="car-brand__list list--full">
                        <li><a href="#">ВАЗ</a></li>
                        <li><a href="#">Daewoo</a></li>
                        <li><a href="#">Chevrolet</a></li>
                        <li><a href="#">Toyota</a></li>
                        <li><a href="#">KIA</a></li>
                        <li><a href="#">Mercedes-Benz</a></li>
                        <li><a href="#">Geely</a></li>
                        <li><a href="#">Volkswagen</a></li>
                        <li><a href="#">Renault</a></li>
                        <li><a href="#">Voluptatem dolores, assumenda!</a></li>
                        <li><a href="#">Recusandae, ipsam, vel?</a></li>
                        <li><a href="#">Aut, aliquid, repellat.</a></li>
                        <li><a href="#">Minus suscipit, commodi.</a></li>
                        <li><a href="#">Excepturi officia, eaque.</a></li>
                    </ul>

                    <span class="block__more-btn">
                        <span class="btn-more-show">Все марки</span>
                        <span class="btn-more-hide">Свернуть</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="category-filters__block block--price-range">
        <p class="block__title">
            <b>Цена</b>
        </p>

        <div class="block__panel">
            <div class="filter-price flexible">
                <div class="filter-price__boxes flexible">
                    <div class="filter-price__box">
                        <input type="number" step="100" class="form-control" id="filter-price__from">
                        <span>грн</span>
                    </div>
                    <div class="filter-price__box">
                        <input type="number" step="100" class="form-control" id="filter-price__to">
                        <span>грн</span>
                    </div>
                </div>
                <button type="button" class="btn btn--secondary">Ок</button>
            </div>

            <div id="price-range"></div>
        </div>
    </div>

    <div class="category-filters__block block--accordion">
        <button class="block__title accordion active" type="button">
            <b>Производитель</b>
        </button>

        <div class="accordion-panel">
            <div class="block__panel">
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Lovato</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>LPGTECH</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Tomasetto</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Atiker</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Prins</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>6 цилиндров</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>7 цилиндров</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>8 цилиндров</span>
                        </label>
                    </li>
                </ul>

                <span class="block__more-btn">
                    <span class="btn-more-show">Ещё</span>
                    <span class="btn-more-hide">Свернуть</span>
                </span>
            </div>
        </div>
    </div>

    <div class="category-filters__block block--accordion">
        <button class="block__title accordion" type="button">
            <b>OBD / EOBD</b>
        </button>

        <div class="accordion-panel">
            <div class="block__panel">
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>OBD</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>EOBD</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="category-filters__block block--accordion">
        <button class="block__title accordion active" type="button">
            <b>Количество цилиндров</b>
        </button>

        <div class="accordion-panel">
            <div class="block__panel">
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>4 цилиндра</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox disabled">
                            <input type="checkbox" disabled>
                            <i class="checkmark"></i>
                            <span>6 цилиндров<br>2 line</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox disabled">
                            <input type="checkbox" disabled>
                            <i class="checkmark"></i>
                            <span>8 цилиндров</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="category-filters__block block--accordion">
        <button class="block__title accordion" type="button">
            <b>Электроника</b>
        </button>

        <div class="accordion-panel">
            <div class="block__panel">
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Lovato</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>LPGTECH</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Tomasetto</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="category-filters__block block--accordion">
        <button class="block__title accordion" type="button">
            <b>Редуктор</b>
        </button>

        <div class="accordion-panel">
            <div class="block__panel">
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Lovato</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>LPGTECH</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Tomasetto</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="category-filters__block block--accordion">
        <button class="block__title accordion" type="button">
            <b>Форсунка</b>
        </button>

        <div class="accordion-panel">
            <div class="block__panel">
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Lovato</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>LPGTECH</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Tomasetto</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="category-filters__block block--accordion">
        <button class="block__title accordion" type="button">
            <b>Тип баллона</b>
        </button>

        <div class="accordion-panel">
            <div class="block__panel">
                <ul class="checkbox-list">
                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Lovato</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>LPGTECH</span>
                        </label>
                    </li>

                    <li>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkmark"></i>
                            <span>Tomasetto</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>