<div class="category-header flexible">
    <div class="category-header__title">
        <h1>По запросу <span>редуктор</span> найдено 7 товаров</h1>
    </div>

    <div class="layout flexible">
        <button class="btn btn--primary btn--sidebar flexible flexible--center no-desktop" type="button" data-src="#category-sidebar">
            <span>Категории</span>
        </button>

        <div class="layout__sort flexible">
            <span class="sort__text no-mob">Сортировать:</span>

            <div class="sort__dropdown dropdown">
                <button class="dropdown__btn" type="button">от дешевых к дорогим</button>

                <div class="dropdown__content">
                    <ul>
                        <li><span>от дешевых к дорогим</span></li>
                        <li><a href="#">от дорогих к дешевым</a></li>
                        <li><a href="#">по популярности</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>