<div class="bar-search">
    <div class="category-bar__header flexible no-desktop">
        <b>Категории</b>

        <button class="btn-filters-close" type="button" data-fancybox-close>
            <span>закрыть</span>
        </button>
    </div>

    <div class="bar-search__block">
        <b>Оборудование 2 поколения</b>

        <ul>
            <li><a href="#">Редукторы газовые (пропан)</a></li>
            <li><a href="#">Редукторы газовые (метан)</a></li>
        </ul>
    </div>

    <div class="bar-search__block">
        <b>Оборудование 4 поколения</b>

        <ul>
            <li><a href="#">Редукторы для систем впрыска</a></li>
        </ul>
    </div>

    <div class="bar-search__block">
        <b>Комплектующие к редукторам</b>

        <ul>
            <li><a href="#">Ремкомплекты</a></li>
            <li><a href="#">Штуцера тосольные, газовые</a></li>
            <li><a href="#">Электромагнитные катушки</a></li>
            <li><a href="#">Штоки, сердечники, сёдла</a></li>
            <li><a href="#">Крепления редуктора</a></li>
        </ul>
    </div>
</div>