<div class="compare__scroll flexible scrollbar-outer grad">
    <div class="compare__card card">
        <div class="flexible">

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001
                        Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                </p>
                <div class="card__delete">
                    <span class="icon-delete"></span>
                </div>

            </div>
            <div class="about__bottom">
                <div class="star-rating">
                    <div class="star-rating__wrap">
                        <span class="star-rating__ico"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                    </div>

                    <span class="star-rating__number">4.3</span>

                    <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                </div>

                <div class="about__footer flexible">
                    <div class="footer__price">
                        <del>6 961 грн</del>
                        <ins>6 226 грн</ins>

                        <div class="product-availability">
                            <span>в наличии</span>
                        </div>
                    </div>

                    <button class="card__btn-cart" type="button"></button>
                </div>
            </div>
            <div class="card_specifications">
                <div class="card_specification" data-hover="electronics">STAG-200 GoFast</div>
                <div class="card_specification" data-hover="reducer">Tomasetto Alaska</div>
                <div class="card_specification" data-hover="nozzles">Valtek 30</div>
                <div class="card_specification" data-hover="balloon">40л</div>
                <div class="card_specification" data-hover="producing country">Польша</div>
            </div>

        </div>
    </div>
    <div class="compare__card card">
        <div class="flexible">

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001
                        Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                </p>
                <div class="card__delete">
                    <span class="icon-delete"></span>
                </div>

            </div>
            <div class="about__bottom">
                <div class="star-rating">
                    <div class="star-rating__wrap">
                        <span class="star-rating__ico"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                    </div>

                    <span class="star-rating__number">4.3</span>

                    <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                </div>

                <div class="about__footer flexible">
                    <div class="footer__price">
                        <del>6 961 грн</del>
                        <ins>6 226 грн</ins>

                        <div class="product-availability">
                            <span>в наличии</span>
                        </div>
                    </div>

                    <button class="card__btn-cart" type="button"></button>
                </div>
            </div>
            <div class="card_specifications">
                <div class="card_specification" data-hover="electronics">STAG-200 GoFast</div>
                <div class="card_specification" data-hover="reducer">Tomasetto Alaska</div>
                <div class="card_specification" data-hover="nozzles">Valtek 30</div>
                <div class="card_specification" data-hover="balloon">40л</div>
                <div class="card_specification" data-hover="producing country">Польша</div>
            </div>

        </div>
    </div>
    <div class="compare__card card">
        <div class="flexible">

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001
                        Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                </p>
                <div class="card__delete">
                    <span class="icon-delete"></span>
                </div>

            </div>
            <div class="about__bottom">
                <div class="star-rating">
                    <div class="star-rating__wrap">
                        <span class="star-rating__ico"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                    </div>

                    <span class="star-rating__number">4.3</span>

                    <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                </div>

                <div class="about__footer flexible">
                    <div class="footer__price">
                        <del>6 961 грн</del>
                        <ins>6 226 грн</ins>

                        <div class="product-availability">
                            <span>в наличии</span>
                        </div>
                    </div>

                    <button class="card__btn-cart" type="button"></button>
                </div>
            </div>
            <div class="card_specifications">
                <div class="card_specification" data-hover="electronics">STAG-200 GoFast</div>
                <div class="card_specification" data-hover="reducer">Tomasetto Alaska</div>
                <div class="card_specification" data-hover="nozzles">Valtek 30</div>
                <div class="card_specification" data-hover="balloon">40л</div>
                <div class="card_specification" data-hover="producing country">Польша</div>
            </div>

        </div>
    </div>
    <div class="compare__card card">
        <div class="flexible">

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001
                        Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                </p>
                <div class="card__delete">
                    <span class="icon-delete"></span>
                </div>

            </div>
            <div class="about__bottom">
                <div class="star-rating">
                    <div class="star-rating__wrap">
                        <span class="star-rating__ico"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                    </div>

                    <span class="star-rating__number">4.3</span>

                    <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                </div>

                <div class="about__footer flexible">
                    <div class="footer__price">
                        <del>6 961 грн</del>
                        <ins>6 226 грн</ins>

                        <div class="product-availability">
                            <span>в наличии</span>
                        </div>
                    </div>

                    <button class="card__btn-cart" type="button"></button>
                </div>
            </div>
            <div class="card_specifications">
                <div class="card_specification" data-hover="electronics">STAG-200 GoFast</div>
                <div class="card_specification" data-hover="reducer">Tomasetto Alaska</div>
                <div class="card_specification" data-hover="nozzles">Valtek 30</div>
                <div class="card_specification" data-hover="balloon">40л</div>
                <div class="card_specification" data-hover="producing country">Польша</div>
            </div>

        </div>
    </div>
    <div class="compare__card card">
        <div class="flexible">

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001
                        Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                </p>
                <div class="card__delete">
                    <span class="icon-delete"></span>
                </div>

            </div>
            <div class="about__bottom">
                <div class="star-rating">
                    <div class="star-rating__wrap">
                        <span class="star-rating__ico"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                    </div>

                    <span class="star-rating__number">4.3</span>

                    <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                </div>

                <div class="about__footer flexible">
                    <div class="footer__price">
                        <del>6 961 грн</del>
                        <ins>6 226 грн</ins>

                        <div class="product-availability">
                            <span>в наличии</span>
                        </div>
                    </div>

                    <button class="card__btn-cart" type="button"></button>
                </div>
            </div>
            <div class="card_specifications">
                <div class="card_specification" data-hover="electronics">STAG-200 GoFast</div>
                <div class="card_specification" data-hover="reducer">Tomasetto Alaska</div>
                <div class="card_specification" data-hover="nozzles">Valtek 30</div>
                <div class="card_specification" data-hover="balloon">40л</div>
                <div class="card_specification" data-hover="producing country">Польша</div>
            </div>

        </div>
    </div>
    <div class="compare__card card">
        <div class="flexible">

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001
                        Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                </p>
                <div class="card__delete">
                    <span class="icon-delete"></span>
                </div>

            </div>
            <div class="about__bottom">
                <div class="star-rating">
                    <div class="star-rating__wrap">
                        <span class="star-rating__ico"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                        <span class="star-rating__ico filled"></span>
                    </div>

                    <span class="star-rating__number">4.3</span>

                    <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                </div>

                <div class="about__footer flexible">
                    <div class="footer__price">
                        <del>6 961 грн</del>
                        <ins>6 226 грн</ins>

                        <div class="product-availability">
                            <span>в наличии</span>
                        </div>
                    </div>

                    <button class="card__btn-cart" type="button"></button>
                </div>
            </div>
            <div class="card_specifications">
                <div class="card_specification" data-hover="electronics">STAG-200 GoFast</div>
                <div class="card_specification" data-hover="reducer">Tomasetto Alaska</div>
                <div class="card_specification" data-hover="nozzles">Valtek 30</div>
                <div class="card_specification" data-hover="balloon">40л</div>
                <div class="card_specification" data-hover="producing country">Польша</div>
            </div>

        </div>
    </div>
</div>