<div class="faq flexible">
    <div class="faq__sections">
        <section>
            <h2>Оплата и доставка</h2>

            <div class="accordion color--link">
                <b>Куда и на каких условиях осуществляется доставка?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Как я могу оплатить свой заказ</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Как осуществляется доставка по Харькову</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>

                <p>Вы сможете посмотреть товары вживую и купить их. Если Вы хотите какой-то конкретный товар, можно предварительно уточнить его наличие по телефону. Если этого товара не окажется в магазине, мы доставим его со склада к Вашему приходу.</p>
            </div>

            <div class="accordion color--link">
                <b>Как осуществляется доставка по Украине</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Можно ли приехать к вам в магазин?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>
        </section>

        <section>
            <h2>Гарантия и обмен</h2>

            <div class="accordion color--link">
                <b>На какие товары предоставляется гарантия?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Куда обращаться за гарантийным обслуживанием?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Я могу обменять или вернуть товар?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>

                <p>Вы сможете посмотреть товары вживую и купить их. Если Вы хотите какой-то конкретный товар, можно предварительно уточнить его наличие по телефону. Если этого товара не окажется в магазине, мы доставим его со склада к Вашему приходу.</p>
            </div>

            <div class="accordion color--link">
                <b>Где и как можно произвести обмен или возврат?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Сервисный центр не может отремонтировать мой товар в гарантийный период</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>В каких случаях гарантия не предоставляется?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>
        </section>

        <section>
            <h2>Вопросы и ответы</h2>

            <div class="accordion color--link">
                <b>Какой у вас график работы?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>На сайте указано, что товара нет в наличии, можно ли его заказать?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Какие преимущества дает регистрация?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>

                <p>Вы сможете посмотреть товары вживую и купить их. Если Вы хотите какой-то конкретный товар, можно предварительно уточнить его наличие по телефону. Если этого товара не окажется в магазине, мы доставим его со склада к Вашему приходу.</p>
            </div>

            <div class="accordion color--link">
                <b>Как отменить заказ?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Что делать, если оплаченный товар не доставлен?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Какая гарантия, что после предоплаты заказа я его получу?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>

            <div class="accordion color--link">
                <b>Как использовать промо-код?</b>
            </div>
            <div class="accordion-panel">
                <p>Наш магазин расположен на авторынке «Лоск», магазин №12 по адресу г. Харьков, пл. Юрия Кононенко, 1.</p>
            </div>
        </section>
    </div>

    <div class="faq__form no-mob">
        <b>Не нашли ответ на свой вопрос?</b>

        <form class="form-question" method="post" action="">
            <div class="field-box">
                <textarea class="form-control" name="question" placeholder="Текст вопроса"></textarea>
                <span class="error-element"></span>
            </div>
            <div class="field-box">
                <input class="form-control" type="text" name="name" placeholder="Как вас зовут?">
                <span class="error-element"></span>
            </div>
            <div class="field-box">
                <input class="form-control" type="email" name="email" placeholder="E-mail">
                <span class="error-element"></span>
            </div>
            <button class="btn btn--primary" type="submit">Отправить вопрос</button>
        </form>
    </div>

    <button class="btn btn--primary mob-only" type="button" data-fancybox data-src="#modal-question">Не нашли ответ на свой вопрос?</button>
</div>