article.feed-item
    div
        img(src="images/img.jpg", alt="")
    div
        span 30 июля 2018
        h2
            a(href="article.html") Техническое обслуживание ГБО — как следить и обслуживать ГБО своими руками
        p Модель Nordic XP проходила длительную разработку и была выпущена заводом Tomasetto S.P.A. в 2017 году. Создана на замену Artic, поддерживаемая мощность составл...#[a(href="article.html") Подробнее]