.feed.flexible
    .feed__col.col--articles
        .col__title.flexible
            b Статьи и обзоры
            a(class="mob-only", href="#")
                span.feed-all Смотреть все
        include __feed-item
        .col__footer.no-mob
            a(href="#")
                span.feed-all Все статьи и обзоры
    .feed__col.col--news
        .col__title.flexible
            b Новости
            a(class="mob-only", href="#")
                span.feed-all Смотреть все
        .col__last-news
            ul.news-list
                li
                    p
                        span 20 августа 2018
                    a(href="#") Ремкомплекты Tomasetto: ставка на красное
                li
                    p
                        span 15 мая 2018
                    a(href="#") Расширение ассортимента: баллоны для погрузчиков и мототехники
                li
                    p
                        span 13 мая 2018
                    a(href="#") Компания ASUS выпустила игровой монитор ASUS VP248QGL-P с TN-панелью и поддержкой AMD FreeSync
                li
                    p
                        span 15 мая 2018
                    a(href="#") Расширение ассортимента: баллоны для погрузчиков и мототехники
                li
                    p
                        span 15 мая 2018
                    a(href="#") Расширение ассортимента: баллоны для погрузчиков и мототехники
        .no-mob
            a(href="#")
                span.feed-all Все новости