<!-- footer -->
<footer class="footer">
    <div class="footer-contacts container">
        <div class="footer-contacts__tel">
            <span>Заказ по телефону</span>
            <ul class="flexible">
                <li><a href="#"><b>(063) 320&ndash;12&ndash;12</b></a></li>
                <li><a href="#"><b>(068) 320&ndash;12&ndash;12</b></a></li>
            </ul>
        </div>
    </div>

    <div class="footer-extra">
        <div class="container flexible flexible--center">
            <div class="copyrights">
                <p>&copy; Интернет-магазин «AutoGas12»</p>
            </div>
            <div class="footer-extra__pay">
                <span class="desktop-only inline-block">Принимаем к оплате:</span>
                <ul class="list-inline">
                    <li><span class="icon icon-visa"></span></li>
                    <li><span class="icon icon-mastercard"></span></li>
                    <li><span class="icon icon-money"></span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>