<form action="#" method="post" class="flexible">
    <div class="shopcart-products">
        <ul class="shopcart-products__list">
            <li class="shopcart-products__list-item">
                <div class="flexible">
                    <div class="item__main">
                        <a href="#">
                            <img src="images/komplekt-kme-nevo-4-cil.png" width="160" height="160" alt="">
                        </a>

                        <div class="item__about">
                            <p class="product-code mob-only">
                                <span>Код товара: 1137067</span>
                            </p>

                            <p>
                                <a href="#">Полный комплект STAG-200 GoFast 4 цил. (ред. Alaska, форс. Valtek, фил. 11/11, тор. 42л., мул. Tomasetto)</a>
                            </p>

                            <p class="product-code no-mob">
                                <span>Код товара: 1137067</span>
                            </p>

                            <div class="item__price flexible">
                                <b>6 226 грн</b>

                                <del>6 961 грн</del>
                            </div>

                            <div class="item__product-gift">
                                <span class="product-gift__label"><b>Товар в подарок</b></span>

                                <div class="product-gift__box flexible">
                                    <a href="#">
                                        <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">
                                    </a>

                                    <p>
                                        <a href="#">Полный комплект STAG-200 GoFast 4 цил. (ред. Alaska, форс. Valtek, фил. 11/11, тор. 42л., мул. Tomasetto)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item__amount flexible">
                        <div class="amount__value">
                            <button class="value__btn value__btn--decrease"></button>

                            <input type="text" value="1" readonly>

                            <button class="value__btn value__btn--increase"></button>
                        </div>

                        <div class="amount__sum">
                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <button class="item__btn-remove"></button>
            </li>

            <li class="shopcart-products__list-item">
                <div class="flexible">
                    <div class="item__main">
                        <a href="#">
                            <img src="images/komplekt-kme-nevo-4-cil.png" width="160" height="160" alt="">
                        </a>

                        <div class="item__about">
                            <p class="product-code mob-only">
                                <span>Код товара: 1137067</span>
                            </p>

                            <p>
                                <a href="#">Полный комплект STAG-200 GoFast 4 цил. (ред. Alaska, форс. Valtek, фил. 11/11, тор. 42л., мул. Tomasetto)</a>
                            </p>

                            <p class="product-code no-mob">
                                <span>Код товара: 1137067</span>
                            </p>

                            <div class="item__price flexible">
                                <b>6 226 грн</b>

                                <del>6 961 грн</del>
                            </div>
                        </div>
                    </div>

                    <div class="item__amount flexible">
                        <div class="amount__value">
                            <button class="value__btn value__btn--decrease"></button>

                            <input type="text" value="1" readonly>

                            <button class="value__btn value__btn--increase"></button>
                        </div>

                        <div class="amount__sum">
                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <button class="item__btn-remove"></button>
            </li>

            <li class="shopcart-products__list-item">
                <div class="flexible">
                    <div class="item__main">
                        <a href="#">
                            <img src="images/komplekt-kme-nevo-4-cil.png" width="160" height="160" alt="">
                        </a>

                        <div class="item__about">
                            <p class="product-code mob-only">
                                <span>Код товара: 1137067</span>
                            </p>

                            <p>
                                <a href="#">Полный комплект STAG-200 GoFast 4 цил. (ред. Alaska, форс. Valtek, фил. 11/11, тор. 42л., мул. Tomasetto)</a>
                            </p>

                            <p class="product-code no-mob">
                                <span>Код товара: 1137067</span>
                            </p>

                            <div class="item__price flexible">
                                <b>6 226 грн</b>

                                <del>6 961 грн</del>
                            </div>
                        </div>
                    </div>

                    <div class="item__amount flexible">
                        <div class="amount__value">
                            <button class="value__btn value__btn--decrease"></button>

                            <input type="text" value="1" readonly>

                            <button class="value__btn value__btn--increase"></button>
                        </div>

                        <div class="amount__sum">
                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <button class="item__btn-remove"></button>
            </li>
        </ul>
    </div>

    <div class="order-bar shopcart-sidebar">
        <div class="order-bar__price">
            <div class="price__row flexible">
                <p>Сумма всех товаров без&nbsp;скидки:</p>

                <span><b>862 грн</b></span>
            </div>

            <div class="price__row flexible">
                <p>Сумма скидки:</p>

                <span><b>0 грн</b></span>
            </div>

            <p>Если у вас есть промо-код, примените его на этапе оформления заказа</p>

            <div class="price__row price__row--total flexible">
                <p><b>Итого:</b></p>

                <span><b>862 грн</b></span>
            </div>
        </div>

        <button type="submit" class="btn btn--checkout btn--secondary">Оформить заказ</button>
    </div>
</form>