
<!-- footer -->
<footer class="footer">
    <div class="footer-main container flexible">
        <div class="footer-follow">
            <div class="footer-follow__inner">
                <div class="subscribe">
                    <b>Подписка на рассылку</b>
                    <p>Подпишитесь и получайте новости об акциях и специальных предложениях</p>
                    <form class="form-subscribe" method="post" action="#">
                        <input type="email" placeholder="Введите ваш e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$">
                        <button type="submit"></button>
                    </form>
                </div>
                <div class="social no-mob">
                    <b>Присоединяйтесь</b>
                    <ul class="list-inline">
                        <li><a href="#" title="Facebook"><span class="icon icon-facebook"></span></a></li>
                        <li><a href="#" title="YouTube"><span class="icon icon-youtube"></span></a></li>
                        <li><a href="#" title="Instagram"><span class="icon icon-instagram"></span></a></li>
                        <li><a href="#" title="Telegram"><span class="icon icon-telegram"></span></a></li>
                        <li><a href="#" title="Viber"><span class="icon icon-viber"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-extra tablet-only">
                <div class="copyrights">
                    <p>&copy; Интернет-магазин «AutoGas12»</p>
                    <a href="#">Условия использования сайта</a>
                </div>
                <div class="footer-extra__pay">
                    <span class="desktop-only inline-block">Принимаем к оплате:</span>
                    <ul class="list-inline">
                        <li><span class="icon icon-visa"></span></li>
                        <li><span class="icon icon-mastercard"></span></li>
                        <li><span class="icon icon-money"></span></li>
                    </ul>
                </div>
                <div class="footer-extra__devs"><a href="http://fulltime.com.ua/" target="_blank"><span>Создание сайта &mdash; Фултайм</span><span class="icon desktop-only inline-block"></span></a></div>
            </div>
        </div>

        <div class="footer-nav mob-only">
            <button class="accordion" type="button"><b>АвтоГаз12</b></button>
            <div class="accordion-panel">
                <ul>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Установка ГБО</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                </ul>
            </div>
            <button class="accordion" type="button"><b>Помощь покупателю</b></button>
            <div class="accordion-panel">
                <ul>
                    <li><a href="#">Проблемы с заказом</a></li>
                    <li><a href="#">Часто задаваемые вопросы</a></li>
                    <li><a href="#">Условия доставки</a></li>
                    <li><a href="#">Обмен и возврат товара</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Способы оплаты</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-nav flexible no-mob">
            <div class="footer-nav__col">
                <b>Автогаз12</b>
                <ul>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Установка ГБО</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                </ul>
            </div>
            <div class="footer-nav__col">
                <b>Помощь покупателю</b>
                <ul>
                    <li><a href="#">Проблемы с заказом</a></li>
                    <li><a href="#">Часто задаваемые вопросы</a></li>
                    <li><a href="#">Условия доставки</a></li>
                    <li><a href="#">Обмен и возврат товара</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Способы оплаты</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-contacts">
            <div class="footer-contacts__tel">
                <b><span>Заказ по телефону</span></b>
                <ul>
                    <li><a href="#"><b>(063) 320&ndash;12&ndash;12</b></a><span>Lifecell</span></li>
                    <li><a href="#"><b>(068) 320&ndash;12&ndash;12</b></a><span>Киевстар</span></li>
                </ul>
            </div>
            <div class="footer-contacts__schedule">
                <span>График работы call-центра</span>
                <p>Пн-Пт с 9:00 до 18:00</p>
                <p>Сб с 9:00 до 15:00</p>
                <p>Вс с 10:00 до 15:00</p>
            </div>
            <button class="btn-callback flexible flexible--center" data-fancybox data-src="#modal-callback" type="button"><i></i><span>Хотите мы вам&nbsp;перезвоним?</span></button>
        </div>

        <div class="social mob-only"><b>Присоединяйтесь</b>
            <ul class="list-inline">
                <li><a href="#" title="Facebook"><span class="icon icon-facebook"></span></a></li>
                <li><a href="#" title="YouTube"><span class="icon icon-youtube"></span></a></li>
                <li><a href="#" title="Instagram"><span class="icon icon-instagram"></span></a></li>
                <li><a href="#" title="Telegram"><span class="icon icon-telegram"></span></a></li>
                <li><a href="#" title="Viber"><span class="icon icon-viber"></span></a></li>
            </ul>
        </div>
    </div>

    <div class="footer-extra">
        <div class="container flexible flexible--center">
            <div class="copyrights">
                <p>&copy; Интернет-магазин «AutoGas12»</p>
                <a href="#">Условия использования сайта</a>
            </div>
            <div class="footer-extra__pay">
                <span class="desktop-only inline-block">Принимаем к оплате:</span>
                <ul class="list-inline">
                    <li><span class="icon icon-visa"></span></li>
                    <li><span class="icon icon-mastercard"></span></li>
                    <li><span class="icon icon-money"></span></li>
                </ul>
            </div>
            <div class="footer-extra__devs"><a href="http://fulltime.com.ua/" target="_blank"><span>Создание сайта &mdash; Фултайм</span><span class="icon desktop-only inline-block"></span></a></div>
        </div>
    </div>
</footer>