<!-- header -->
<header class="header">
    <div class="header__main container flexible flexible--center">
        <div class="header-logo"><a href="/"><img src="images/logo.svg" width="105" height="26" alt="Логотип"></a></div>

        <div class="header-contacts flexible no-mob">
            <div class="header-contacts__tel">
                <p class="tel__heading">Заказ по телефону</p>
                <p><a href="#"><b>(063) 320&ndash;12&ndash;12</b></a><span>Lifecell</span></p>
                <ul>
                <li><a href="#"><b>(068) 320&ndash;12&ndash;12</b></a><span>Киевстар</span></li>
                <li><a href="#"><b>(050) 000&ndash;00&ndash;00</b></a><span>МТС</span></li>
                <li><a href="#"><b>(057) 000&ndash;00&ndash;00</b></a><span>Городской, Харьков</span></li>
                </ul>
            </div>
            <button class="btn-callback flexible flexible--center" data-fancybox data-src="#modal-callback" type="button"><i></i><span>Хотите мы вам&nbsp;перезвоним?</span></button>
        </div>
    </div>
</header>