<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#06266F">
<meta name="description" content="">
title= title
<link rel="stylesheet" href="css/styles.css">
if filters
    link(rel="stylesheet", href="css/filters.css")
if productCard
    link(rel="stylesheet", href="css/product-card.css")
if cabinet
    link(rel="stylesheet", href="css/cabinet.css")
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Source+Sans+Pro:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">