ul
    li
        p
            a(href="#") Блок управления STAG-200 GoFast
    li
        p
            a(href="#") Проводка к блоку управления STAG-200 GoFast
    li
        p
            a(href="#") Блок управления STAG-200 GoFast
    li
        p
            a(href="#") Датчик уровня газа STAG трехконтактный WPG-1
        span 16 шт.
    li
        p
            a(href="#") Датчик температуры редуктора STAG
    li
        p
            a(href="#") Форсунки Valtek Type 30
    li
        p
            a(href="#") Редуктор Tomasetto Alaska AT-09, 140 л.с.
        span 4 шт.
    li
        p
            a(href="#") Переключатель газ-бензин STAG LED-200
    li
        p
            a(href="#") Хомуты Carlife
        span 16 шт.
    li
        p
            a(href="#") Шланг LPG/CNG Fagumit Ø16 тосольный
        span 1 м
.panel__more
    ul
        li
            a(href="") Редуктор Tomasetto Alaska AT-09, 140 л.с.
        li
            a(href="") Переключатель газ-бензин STAG LED-200
        li
            a(href="") Хомуты Carlife
        li
            a(href="") Переключатель газ-бензин STAG LED-200
        li
            a(href="") Хомуты Carlife
            span 16 шт.
span.btn-more.color--link
    span.btn-more-show Показать полностью
    span.btn-more-hide Свернуть