<div class="pagination flexible">
    <a class="prev" href="#">Назад</a>
    <a class="next" href="#">Вперёд</a>
    <ul>
        <li><a href="#">1</a></li>
        <li class="breakpoints">...</li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="active">6</li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="breakpoints">...</li>
        <li><a href="#">21</a></li>
    </ul>
</div>