<div class="category-cards flexible">
    <div class="category-cards__item card">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">

                    <div class="product-tags">
                        <ul>
                            <li class="tag-new"><b>Новинка</b></li>
                            <li class="tag-gift"></li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart added" type="button">
                            <span class="color--link">Товар в&nbsp;корзине</span>
                        </button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Электроника:</span>
                    <span class="specifications__subtitle">STAG-200 GoFast</span>
                </li>
            
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>
            
                <li>
                    <span class="specifications__title">Форсунки:</span>
                    <span class="specifications__subtitle">Valtek 30</span>
                </li>
            
                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>
            
                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card not-available">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">

                    <div class="product-tags">
                        <ul>
                            <li class="tag-top"><b>Топ продаж</b></li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>нет в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-report flexible" type="button"><span>Сообщить о&nbsp;поступлении</span></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">

                    <div class="product-tags">
                        <ul>
                            <li class="tag-super"><b>Суперцена</b></li>
                        </ul>
                    </div>
                </a>

                <div class="product__options no-mob">
                    <p class="btn--options">С другими форсунками</p>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">Alex Shark 1200</a></li>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                            <li><a href="#">STAG W-02</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="product__options options-dropdown mob-only dropdown">
                    <button class="dropdown__btn btn--options" type="button">С другими форсунками</button>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Alex Barracuda</a></li>
                            <li><a href="#">STAG W-02</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                        </ul>
                    </div>
                </div>

                <div class="about__bottom-panel">
                    <div class="star-rating no-rating">
                        <a href="#" class="star-rating__comments-link color--link">
                            <span>Оставить отзыв</span>
                        </a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart" type="button"><b>Купить</b></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart" type="button"><b>Купить</b></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card not-available no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>нет в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-report flexible" type="button"><span>Сообщить о&nbsp;поступлении</span></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                </a>

                <div class="product__options no-mob">
                    <p class="btn--options">С другими форсунками</p>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">Alex Shark 1200</a></li>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                            <li><a href="#">STAG W-02</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="product__options options-dropdown mob-only dropdown">
                    <button class="dropdown__btn btn--options" type="button">С другими форсунками</button>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Alex Barracuda</a></li>
                            <li><a href="#">STAG W-02</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                        </ul>
                    </div>
                </div>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart" type="button"><b>Купить</b></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">

                    <div class="product-tags">
                        <ul>
                            <li class="tag-new"><b>Новинка</b></li>
                            <li class="tag-gift"></li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart added" type="button">
                            <span class="color--link">Товар в&nbsp;корзине</span>
                        </button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Электроника:</span>
                    <span class="specifications__subtitle">STAG-200 GoFast</span>
                </li>
            
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>
            
                <li>
                    <span class="specifications__title">Форсунки:</span>
                    <span class="specifications__subtitle">Valtek 30</span>
                </li>
            
                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>
            
                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card not-available no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">

                    <div class="product-tags">
                        <ul>
                            <li class="tag-top"><b>Топ продаж</b></li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>нет в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-report flexible" type="button"><span>Сообщить о&nbsp;поступлении</span></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">

                    <div class="product-tags">
                        <ul>
                            <li class="tag-super"><b>Суперцена</b></li>
                        </ul>
                    </div>
                </a>

                <div class="product__options no-mob">
                    <p class="btn--options">С другими форсунками</p>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">Alex Shark 1200</a></li>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                            <li><a href="#">STAG W-02</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="product__options options-dropdown mob-only dropdown">
                    <button class="dropdown__btn btn--options" type="button">С другими форсунками</button>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Alex Barracuda</a></li>
                            <li><a href="#">STAG W-02</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                        </ul>
                    </div>
                </div>

                <div class="about__bottom-panel">
                    <div class="star-rating no-rating">
                        <a href="#" class="star-rating__comments-link color--link">
                            <span>Оставить отзыв</span>
                        </a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart" type="button"><b>Купить</b></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart" type="button"><b>Купить</b></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card not-available no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                </a>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>нет в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-report flexible" type="button"><span>Сообщить о&nbsp;поступлении</span></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item card no-mob">
        <div class="flexible">
            <div class="card__image-wrap">
                <a href="#">
                    <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                </a>

                <div class="product__options no-mob">
                    <p class="btn--options">С другими форсунками</p>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">Alex Shark 1200</a></li>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                            <li><a href="#">STAG W-02</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card__about">
                <p>
                    <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), Комплект 4ц. STAG- 4 plus, ред. Alaska Super</a>
                </p>

                <div class="product__options options-dropdown mob-only dropdown">
                    <button class="dropdown__btn btn--options" type="button">С другими форсунками</button>
                
                    <div class="dropdown__content">
                        <ul>
                            <li><a href="#">OMVL</a></li>
                            <li><a href="#">Alex Barracuda</a></li>
                            <li><a href="#">STAG W-02</a></li>
                            <li><a href="#">Hanna 2002</a></li>
                        </ul>
                    </div>
                </div>

                <div class="about__bottom-panel">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <span class="star-rating__ico"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                            <span class="star-rating__ico filled"></span>
                        </div>

                        <span class="star-rating__number">4.3</span>

                        <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                    </div>

                    <div class="about__footer flexible">
                        <div class="footer__price">
                            <div class="flexible price__col">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>
                            </div>

                            <div class="product-availability">
                                <span>в наличии</span>
                            </div>
                        </div>
                    </div>

                    <div class="card__btns flexible">
                        <button class="card__btn-cart" type="button"><b>Купить</b></button>

                        <button class="card__btn-compare" type="button">Сравнить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__specifications">
            <ul class="specifications__list">
                <li>
                    <span class="specifications__title">Редуктор:</span>
                    <span class="specifications__subtitle">Tomasetto Alaska</span>
                </li>

                <li>
                    <span class="specifications__title">Баллон:</span>
                    <span class="specifications__subtitle">42л (тороидальный)</span>
                </li>

                <li>
                    <span class="specifications__title">Страна производитель:</span>
                    <span class="specifications__subtitle">Польша</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="category-cards__item item--btn-load mob-only">
        <button class="btn-load" type="button">
            <b class="color--link">Показать ещё</b>
        </button>
    </div>
</div>