<h1>Комплект ГБО Tomasetto электронный, для ВАЗ (карб. Озон, Вебер) с цилиндрическим баллоном 50 л.</h1>

<div class="flexible">
    <p class="product-code">
        <span>Код товара: 1137067</span>
    </p>

    <div class="star-rating">
        <div class="star-rating__wrap">
            <span class="star-rating__ico"></span>
            <span class="star-rating__ico filled"></span>
            <span class="star-rating__ico filled"></span>
            <span class="star-rating__ico filled"></span>
            <span class="star-rating__ico filled"></span>
        </div>

        <span class="star-rating__number">4.3</span>

        <a href="#" class="star-rating__comments-link">
            (<span>14 отзывов</span>)
        </a>
    </div>
</div>

<div class="product__options options-dropdown mob-only dropdown">
    <button class="dropdown__btn" type="button">С другими форсунками</button>

    <div class="dropdown__content">
        <ul>
            <li><a href="#">OMVL</a></li>
            <li><a href="#">Alex Barracuda</a></li>
            <li><a href="#">STAG W-02</a></li>
            <li><a href="#">Hanna 2002</a></li>
        </ul>
    </div>
</div>

<div class="product__options no-mob">
    <p>Форсунки:</p>

    <ul class="flexible">
        <li><a href="#" class="active">Alex Shark 1200</a></li>
        <li><a href="#">OMVL</a></li>
        <li><a href="#">Hanna 2002</a></li>
        <li><a href="#">STAG W-02</a></li>
    </ul>
</div>