<div class="promotion__about flexible">
    <div class="about__col">
        <img src="images/img.jpg" alt="">
    </div>

    <div class="about__col">
        <span>Предложение действует:</span>
        <p><b>с 2 июня по 19 августа</b> 2018 года</p>

        <div class="promotion__conditions">
            <p>Сроки и условия акции могут быть изменены. Акция не суммируется с другими акциями. Изображение товара может отличаться от фактического изображения товара. Количество товара ограничено.</p>
        </div>
    </div>
</div>

<div class="promotion__conditions-more">
    <div class="accordion color--link">Подробные условия акции</div>

    <div class="accordion-panel">
        <p>Акция действует в магазинах АЛЛО и на сайте allo.ua с 03.08.2018 по 30.08.2018 или пока акционный товар есть в наличии. * Под «Подарком» следует понимать возможность потребителя в рамках акции приобрести указанный акционный товар и "подарок" к нему одним чеком и получить скидку на акционный товар в размере стоимости подарка. Текущее акционное предложение НЕ действует на приобретение товара в оплату частями, в рассрочку или на условиях потребительского кредита. В случае участия данного товара в других акциях, покупатель имеет право выбора только одной из действующих акций. Приобретение товара на условиях действующей акции подтверждает ознакомление и согласие потребителя со всеми ее условиями.</p>
        <span>Подробнее:&nbsp;</span>
        <a href="#">https://allo.ua/k-smartfonu-galaxy-a6-i-a6-naushniki-jbl-c45bt-v-podarok-action/</a>
    </div>
</div>