<div class="mob-only">
    <div class="promotional__slider slick-slider">
        <div class="promotional__card card">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card not-available">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт),</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>нет в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card not-available">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>нет в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="no-mob">
    <div class="promotional__scroll flexible scrollbar-outer grad">
        <div class="promotional__card card">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart added" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card not-available">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт),</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>нет в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card not-available">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>нет в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promotional__card card">
            <div class="flexible">
                <a href="#">
                    <div class="card__image-wrap">
                        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt="">
                    </div>
                </a>

                <div class="card__about">
                    <p>
                        <a href="#">Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</a>
                    </p>

                    <div class="about__bottom-panel">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                                <span class="star-rating__ico"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                                <span class="star-rating__ico filled"></span>
                            </div>

                            <span class="star-rating__number">4.3</span>

                            <a href="#" class="star-rating__comments-link">(<span>14 отзывов</span>)</a>
                        </div>

                        <div class="about__footer flexible">
                            <div class="footer__price">
                                <del>6 961 грн</del>
                                <ins>6 226 грн</ins>

                                <div class="product-availability">
                                    <span>в наличии</span>
                                </div>
                            </div>

                            <button class="card__btn-cart" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>