.product__header.product-col
    include __product-header.html

.flexible.no-mob
    .product__buy.product-col.product-col--sm
        include __product-buy.html

    .product__specifications.product-col.product-col--sm
        h2 Характеристики
        include __product-spec-list.html