.product.product--kit.flexible
  .product__intro.product-col--lg
    include __product-intro
  .product__gallery.product-col.product-col--sm
    include __product-gallery.html
  .product__buy.mob-only
    include __product-buy.html
  .product__about.product-col.product-col--lg.flexible.no-mob
    .kit
      h2 Комплект
      include __kit
    .about__description
      h2 Описание
      include __product-desc.html
  .product__info.product-col.product-col--sm.no-mob
    include __product-info.html