<div class="buy__price flexible">
  <ins>6 226 грн</ins>
  
  <span>Старая цена
    <del>6 961 грн</del>
  </span>
</div>

<div class="product-availability">
  <span>в наличии</span>
</div>

<div class="buy__buttons flexible">
  <div class="buttons__cart">
    <button class="buy__btn--cart" type="button">
      <b>Купить</b>
    </button>
  </div>

  <div class="buttons__compare no-mob">
    <button class="buy__btn--compare" type="button">Сравнить</button>
  </div>
</div>

<form class="one-click" action="#">
  <input class="form-control tel-mask" type="tel" name="tel" placeholder="+38 (___) ___-__-__">

  <button class="one-click__button color--link" type="submit">
    <b>Купить в 1 клик</b>
  </button>
</form>