<div class="gallery__preview">
    <div class="preview__box js-visible" data-pic="1">
        <a data-fancybox="gallery" href="images/product.png">
            <img src="images/product.png" width="300" height="300" alt="">
        </a>
    </div>

    <div class="preview__box" data-pic="2">
        <a data-fancybox="gallery" href="images/komplekt-kme-nevo-4-cil.png">
            <img src="images/komplekt-kme-nevo-4-cil.png" width="300" height="300" alt="">
        </a>
    </div>

    <div class="preview__box" data-pic="3">
        <a data-fancybox="gallery" href="images/forsunki-alex-barracuda-4-cil-min.jpg">
            <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="300" height="300" alt="">
        </a>
    </div>
    <div class="product-tags">
        <ul>
            <li class="tag-new"><b>Новинка</b></li>
            <li class="tag-gift"></li>
        </ul>
    </div>
</div>

<div class="gallery__thumbs flexible">
    <div class="thumbs__item active" data-pic="1">
        <img src="images/product.png" width="80" height="80" alt="">
    </div>

    <div class="thumbs__item" data-pic="2">
        <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">
    </div>

    <div class="thumbs__item" data-pic="3">
        <img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="80" height="80" alt="">
    </div>
</div>

<a data-fancybox="gallery" href="media/Pexels-Videos-1656816.mp4">
    <span class="icon-video">Смотреть видеообзор</span>
</a>