<div class="product-gift">
    <div class="flexible">
        <div class="product-gift__heading">
            <b>Товар в&nbsp;подарок</b>
        </div>

        <div class="product-gift__card flexible flexible--center">
            <a href="#"><img src="images/forsunki-alex-barracuda-4-cil-min.jpg" width="100" height="100" alt=""></a>

            <div class="card__about">
                <p>
                    <a href="#">Полный комплект STAG-200 GoFast 4 цил. (ред. Alaska, форс. Valtek, фил. 11/11, тор. 42л., мул. Tomasetto)</a>
                </p>

                <del>6 961 грн</del>

                <ins>В подарок</ins>
            </div>
        </div>
    </div>
</div>