<ul class="specifications__list">
    <li>
        <span class="specifications__title">Электроника:</span>
        <span class="specifications__subtitle">STAG-200 GoFast</span>
    </li>

    <li>
        <span class="specifications__title">Редуктор:</span>
        <span class="specifications__subtitle">Tomasetto Alaska</span>
    </li>

    <li>
        <span class="specifications__title">Форсунки:</span>
        <span class="specifications__subtitle">Valtek 30</span>
    </li>

    <li>
        <span class="specifications__title">Баллон:</span>
        <span class="specifications__subtitle">42л (тороидальный)</span>
    </li>

    <li>
        <span class="specifications__title">Страна производитель:</span>
        <span class="specifications__subtitle">Польша</span>
    </li>
</ul>