<h1>Комплект ГБО Tomasetto электронный, для ВАЗ (карб. Озон, Вебер) с цилиндрическим баллоном 50 л.</h1>

<div class="flexible">
    <p class="product-code">
        <span>Код товара: 1137067</span>
    </p>

    <div class="star-rating">
        <div class="star-rating__wrap">
            <span class="star-rating__ico"></span>
            <span class="star-rating__ico filled"></span>
            <span class="star-rating__ico filled"></span>
            <span class="star-rating__ico filled"></span>
            <span class="star-rating__ico filled"></span>
        </div>

        <span class="star-rating__number">4.3</span>

        <a href="#" class="star-rating__comments-link">
            (<span>14 отзывов</span>)
        </a>
    </div>
</div>
