<div class="holder">
    <div class="buy__price flexible">
        <ins>6 226 грн</ins>
        
        <span>Старая цена
            <del>6 961 грн</del>
        </span>
    </div>
        
    <div class="product-availability">
        <span>нет в наличии</span>
    </div>
</div>
    
<div class="buy__buttons flexible">
    <div class="buttons__report">
        <button class="buy__btn--report" type="button">
            <span>Сообщить о&nbsp;поступлении</span>
        </button>
    </div>
    
    <div class="buttons__compare no-mob">
        <button class="buy__btn--compare" type="button">Сравнить</button>
    </div>
</div>
