<div class="info__delivery">
    <b data-fancybox data-src="#modal-delivery">Доставка</b>

    <div class="flexible">
        <div class="info__col">
            <span>По Харькову</span>

            <ul>
                <li>Самовывоз</li>
                <li>Курьером по адресу</li>
            </ul>
        </div>

        <div class="info__col">
            <span>По Украине</span>

            <ul>
                <li>Новая Почта</li>
                <li>Интайм</li>
                <li>Автолюкс</li>
                <li>Деливери</li>
                <li>Гюнсел</li>
            </ul>
        </div>
    </div>
</div>

<div class="info__pay">
    <b>Оплата заказа</b>

    <ul>
        <li>Оплата при получении (наложенный платеж)</li>
        <li>Оплата на карту (ПриватБанк)</li>
        <li>Наличный расчёт</li>
    </ul>
</div>

<div class="flexible">
    <div class="info__col">
        <div class="info__warranty">
            <b>Гарантия</b>

            <ul>
                <li>12 месяцев</li>
                <li>Официальная гарантия от производителя</li>
            </ul>
        </div>
    </div>

    <div class="info__col">
        <div class="info__return">
            <b>Обмен/возврат</b>

            <ul>
                <li>в течение 14 дней с момента покупки</li>
            </ul>
        </div>
    </div>
</div>