<div class="purchase">
    <div class="purchase__order">
        <div class="order__header">
            <div class="order__id">
                <b>№ <span>489 416 518</span></b>
                <p>от 20 июля 2018, 17:51</p>
            </div>

            <div class="header__amount no-mob">1 товар <b>на 860 грн</b></div>
        </div>

        <div class="order__panel">
            <span class="btn-more color--link dashed mob-only">
                <span class="btn-more-show">Показать подробно</span>
                <span class="btn-more-hide">Скрыть подробно</span>
            </span>

            <div class="panel__more">
                <div class="flexible">
                    <span>Получатель:</span>
                    <p>Константин Константинопольский</p>
                </div>
                <div class="flexible">
                    <span>Телефон получателя:</span>
                    <p>+38 (093) 000-00-00</p>
                </div>
                <div class="flexible more__delivery">
                    <span>Доставка:</span>
                    <p><b>«Новая Почта», отделение №83,</b> Комсомольское, Змиевской р-н, Харьковская обл.</p>
                </div>
                <div class="flexible">
                    <span>Метод оплаты:</span>
                    <p>Оплата при получении (наложенный платёж)</p>
                </div>
            </div>

            <div class="panel__products">
                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel__check">
                <div class="flexible check__full">
                    <p>Сумма всех товаров без скидки:</p>
                    <b>862 грн</b>
                </div>
                <div class="flexible">
                    <p>Сумма скидки:</p>
                    <b>0 грн</b>
                </div>
                <div class="flexible check__delivery delivery--own">
                    <p>Доставка «Новая Почта»</p>
                    <b>За счёт получателя</b>
                </div>
                <div class="flexible check__total">
                    <b>Итого:</b>
                    <b>862 грн</b>
                </div>
            </div>
        </div>

        <div class="order__status status--completed">
            <p>Статус заказа</p>
            <b>Выполнен</b>
        </div>

        <span class="btn-more color--link dashed">
            <span class="btn-more-show">Показать подробно</span>
            <span class="btn-more-hide">Скрыть подробно</span>
        </span>
    </div>

    <div class="purchase__order">
        <div class="order__header">
            <div class="order__id">
                <b>№ <span>489 416 518</span></b>
                <p>от 20 июля 2018, 17:51</p>
            </div>

            <div class="header__amount no-mob">1 товар <b>на 860 грн</b></div>
        </div>

        <div class="order__panel">
            <span class="btn-more color--link dashed mob-only">
                <span class="btn-more-show">Показать подробно</span>
                <span class="btn-more-hide">Скрыть подробно</span>
            </span>

            <div class="panel__more">
                <div class="flexible">
                    <span>Получатель:</span>
                    <p>Константин Константинопольский</p>
                </div>
                <div class="flexible">
                    <span>Телефон получателя:</span>
                    <p>+38 (093) 000-00-00</p>
                </div>
                <div class="flexible more__delivery">
                    <span>Доставка:</span>
                    <p><b>«Новая Почта», отделение №83,</b> Комсомольское, Змиевской р-н, Харьковская обл.</p>
                </div>
                <div class="flexible">
                    <span>Метод оплаты:</span>
                    <p>Оплата при получении (наложенный платёж)</p>
                </div>
            </div>

            <div class="panel__products">
                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel__check">
                <div class="flexible check__full">
                    <p>Сумма всех товаров без скидки:</p>
                    <b>862 грн</b>
                </div>
                <div class="flexible">
                    <p>Сумма скидки:</p>
                    <b>0 грн</b>
                </div>
                <div class="flexible check__delivery delivery--own">
                    <p>Самовывоз</p>
                    <b>Бесплатно :)</b>
                </div>
                <div class="flexible check__total">
                    <b>Итого:</b>
                    <b>862 грн</b>
                </div>
            </div>
        </div>

        <div class="order__status status--completed">
            <p>Статус заказа</p>
            <b>Выполнен</b>
        </div>

        <span class="btn-more color--link dashed">
            <span class="btn-more-show">Показать подробно</span>
            <span class="btn-more-hide">Скрыть подробно</span>
        </span>
    </div>

    <div class="purchase__order">
        <div class="order__header">
            <div class="order__id">
                <b>№ <span>489 416 518</span></b>
                <p>от 20 июля 2018, 17:51</p>
            </div>

            <div class="header__amount no-mob">1 товар <b>на 860 грн</b></div>
        </div>

        <div class="order__panel">
            <span class="btn-more color--link dashed mob-only">
                <span class="btn-more-show">Показать подробно</span>
                <span class="btn-more-hide">Скрыть подробно</span>
            </span>

            <div class="panel__more">
                <div class="flexible">
                    <span>Получатель:</span>
                    <p>Константин Константинопольский</p>
                </div>
                <div class="flexible">
                    <span>Телефон получателя:</span>
                    <p>+38 (093) 000-00-00</p>
                </div>
                <div class="flexible more__delivery">
                    <span>Доставка:</span>
                    <p><b>«Новая Почта», отделение №83,</b> Комсомольское, Змиевской р-н, Харьковская обл.</p>
                </div>
                <div class="flexible">
                    <span>Метод оплаты:</span>
                    <p>Оплата при получении (наложенный платёж)</p>
                </div>
            </div>

            <div class="panel__products">
                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel__check">
                <div class="flexible check__full">
                    <p>Сумма всех товаров без скидки:</p>
                    <b>862 грн</b>
                </div>
                <div class="flexible">
                    <p>Сумма скидки:</p>
                    <b>0 грн</b>
                </div>
                <div class="flexible check__delivery">
                    <p>Доставка курьером по Харькову</p>
                    <b>50 грн</b>
                </div>
                <div class="flexible check__total">
                    <b>Итого:</b>
                    <b>862 грн</b>
                </div>
            </div>
        </div>

        <div class="order__status status--during">
            <p>Статус заказа</p>
            <b>Ожидает обработки</b>
        </div>

        <span class="btn-more color--link dashed">
            <span class="btn-more-show">Показать подробно</span>
            <span class="btn-more-hide">Скрыть подробно</span>
        </span>
    </div>

    <div class="purchase__order">
        <div class="order__header">
            <div class="order__id">
                <b>№ <span>489 416 518</span></b>
                <p>от 20 июля 2018, 17:51</p>
            </div>

            <div class="header__amount no-mob">1 товар <b>на 860 грн</b></div>
        </div>

        <div class="order__panel">
            <span class="btn-more color--link dashed mob-only">
                <span class="btn-more-show">Показать подробно</span>
                <span class="btn-more-hide">Скрыть подробно</span>
            </span>

            <div class="panel__more">
                <div class="flexible">
                    <span>Получатель:</span>
                    <p>Константин Константинопольский</p>
                </div>
                <div class="flexible">
                    <span>Телефон получателя:</span>
                    <p>+38 (093) 000-00-00</p>
                </div>
                <div class="flexible more__delivery">
                    <span>Доставка:</span>
                    <p><b>«Новая Почта», отделение №83,</b> Комсомольское, Змиевской р-н, Харьковская обл.</p>
                </div>
                <div class="flexible">
                    <span>Метод оплаты:</span>
                    <p>Оплата при получении (наложенный платёж)</p>
                </div>
            </div>

            <div class="panel__products">
                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                        <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel__check">
                <div class="flexible check__full">
                    <p>Сумма всех товаров без скидки:</p>
                    <b>862 грн</b>
                </div>
                <div class="flexible">
                    <p>Сумма скидки:</p>
                    <b>0 грн</b>
                </div>
                <div class="flexible check__delivery">
                    <p>Доставка курьером по Харькову</p>
                    <b>50 грн</b>
                </div>
                <div class="flexible check__total">
                    <b>Итого:</b>
                    <b>862 грн</b>
                </div>
            </div>
        </div>

        <div class="order__status status--active">
            <p>Статус заказа</p>
            <b>В работе</b>
        </div>

        <span class="btn-more color--link dashed">
            <span class="btn-more-show">Показать подробно</span>
            <span class="btn-more-hide">Скрыть подробно</span>
        </span>
    </div>

    <div class="purchase__order">
        <div class="order__header">
            <div class="order__id">
                <b>№ <span>489 416 518</span></b>
                <p>от 20 июля 2018, 17:51</p>
            </div>

            <div class="header__amount no-mob">1 товар <b>на 860 грн</b></div>
        </div>

        <div class="order__panel">
            <span class="btn-more color--link dashed mob-only">
                <span class="btn-more-show">Показать подробно</span>
                <span class="btn-more-hide">Скрыть подробно</span>
            </span>

            <div class="panel__more">
                <div class="flexible">
                    <span>Получатель:</span>
                    <p>Константин Константинопольский</p>
                </div>
                <div class="flexible">
                    <span>Телефон получателя:</span>
                    <p>+38 (093) 000-00-00</p>
                </div>
                <div class="flexible more__delivery">
                    <span>Доставка:</span>
                    <p><b>«Новая Почта», отделение №83,</b> Комсомольское, Змиевской р-н, Харьковская обл.</p>
                </div>
                <div class="flexible">
                    <span>Метод оплаты:</span>
                    <p>Оплата при получении (наложенный платёж)</p>
                </div>
            </div>

            <div class="panel__products">
                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>

                <div class="products__card flexible">
                    <img src="images/komplekt-kme-nevo-4-cil.png" width="80" height="80" alt="">

                    <div class="card__about">
                        <p>Комплект 4ц. STAG- 4 plus, ред. Alaska Super 140 л.с. (до 100 кВт), форс. Hana 2001 Rail тип C (черные)+МН (сталь), ф. 11/11</p>

                        <div class="flexible">
                            <span>
                                <b>6 226 грн</b>
                                <span>(2 шт.)</span>
                            </span>

                            <b>12 452 грн</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel__check">
                <div class="flexible check__full">
                    <p>Сумма всех товаров без скидки:</p>
                    <b>862 грн</b>
                </div>
                <div class="flexible">
                    <p>Сумма скидки:</p>
                    <b>0 грн</b>
                </div>
                <div class="flexible check__delivery">
                    <p>Доставка курьером по Харькову</p>
                    <b>50 грн</b>
                </div>
                <div class="flexible check__total">
                    <b>Итого:</b>
                    <b>862 грн</b>
                </div>
            </div>
        </div>

        <div class="order__status status--canceled">
            <p>Статус заказа</p>
            <b>Отменен</b>
        </div>

        <span class="btn-more color--link dashed">
            <span class="btn-more-show">Показать подробно</span>
            <span class="btn-more-hide">Скрыть подробно</span>
        </span>
    </div>
</div>