<!DOCTYPE html>
html(lang="ru")
    head
        - var title = 'Autogas12 - О магазине'
        include partials/__head
    body
        #outer
            include partials/__important-info.html
            include partials/__header.html
            .content.container.flexible
                aside.desktop-only
                    nav
                        ul
                            li
                                a(href="#") Акции
                            li
                                a(href="#") Новости
                            li
                                a(href="#") Статьи и обзоры
                        ul
                            li
                                a(href="#") Часто задаваемые вопросы
                        ul
                            li
                                a(href="#") Способы оплаты
                            li
                                a(href="#") Условия доставки
                            li
                                a(href="#") Обмен и возврат товаров
                        ul
                            li.active
                                a(href="#") О магазине
                            li
                                a(href="#") Установка ГБО
                
                main
                    header.has-dropdown.flexible
                        h1 АвтоГаз12 — интернет-магазин ГБО
                        .heading-dropdown.dropdown.no-desktop
                            button(class="dropdown__btn", type="button") Полезное
                            .dropdown__content
                                ul
                                    li
                                        a(href="#") Акции
                                    li
                                        a(href="#") Новости
                                    li
                                        a(href="#") Статьи и обзоры
                                    li
                                        a(href="#") Часто задаваемые вопросы
                                    li
                                        a(href="#") Способы оплаты
                                    li
                                        a(href="#") Условия доставки
                                    li
                                        a(href="#") Обмен и возврат товаров
                                    li
                                        a(href="#") О магазине
                                    li
                                        a(href="#") Установка ГБО
                    article
                        include partials/__about-blocks.html
            include partials/__footer.html
        include partials/__modals.html
        include partials/__scripts.html
