<!DOCTYPE html>
html(lang="ru")
    head
        - var title = 'Autogas12 - Статья'
        include partials/__head
    body
        .article-page#outer
            include partials/__important-info.html
            include partials/__header.html
            .content.container.flexible
                aside.desktop-only
                    nav
                        ul
                            li
                                a(href="#") Акции
                            li
                                a(href="#") Новости
                            li.active
                                a(href="#") Статьи и обзоры
                        ul
                            li
                                a(href="#") Часто задаваемые вопросы
                        ul
                            li
                                a(href="#") Способы оплаты
                            li
                                a(href="#") Условия доставки
                            li
                                a(href="#") Обмен и возврат товаров
                        ul
                            li
                                a(href="#") О магазине
                            li
                                a(href="#") Установка ГБО
                
                main
                    include partials/__breadcrumbs
                    header
                        h1 Техническое обслуживание ГБО — как следить и обслуживать ГБО своими руками
                    article
                        p Первый двигатель внутреннего сгорания (ДВС), созданный Франсуа де Ривазом, изначально был приспособлен к газообразному топливу. Его последователи продолжили эксперименты с газовым горючим. В середине 19-го века в ходу был светильный газ, в состав которого входил водород, метан и углекислый газ. Однако сложности с транспортировкой и редукцией газообразного топлива определили дальнейшую эволюцию двигателестроения – о газе забыли почти на 50 лет, а в качестве моторного топлива стали использовать бензин и дизель.
                        figure
                            img(src="images/img.jpg", width="868", height="491", alt="")
                            figcaption Тороидальный баллон помещают в нишу запаски или подвешивают снаружи вместо запасного колеса.
                        p Периодически о газе вспоминали, но в основном локально, от недостатка жидкого топлива, как в СССР, например. Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х. Страны Европы попали под удар из-за недостатка собственной добычи нефти. Благодаря развитости малого бизнеса, #[u наибольшее развитие в создании ГБО произошло в Италии]. Из семейных мануфактур того времени вышло большинство крупных производителей оборудования, которые нам известны сегодня.
                        h2 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и #[b фиксируются в момент настройки]. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        p Для нормальной работы ГБО сперва отстраивают подачу газа на холостом ходу, а затем регулируют работу мотора на высоких оборотах. Из-за субъективности оценки настройки «на глаз», корректно настроить систему без специального оборудования практически невозможно.
                        button(class="btn-test-drive btn btn--primary", type="button") Записаться на тест-драйв
                        h3 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        h4 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        h5 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        h6 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий #[a(href="#") блок ГБО] «командует» #[a(href="#") газовыми форсунками] на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий #[a(href="#") блок ГБО] «командует» #[a(href="#") газовыми форсунками] на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        ul
                            li пропан поступает в редуктор – здесь в сравнение с предыдущей технологией принцип не изменился;
                            li редуктор-испаритель выдает постоянное давление
                                ul
                                    li на газовые форсунки
                                    li на бензиновые форсунки
                                        ul
                                            li в жидком виде
                                    li в цилиндр
                            li Как видите газобаллонное оборудование обзавелось управляющим блоком – это важнейший этап эволюции. Чтобы не вмешиваться в работу штатного блока управления (БУ) и не провоцировать «чек энджин», одна из задач, которую выполняет ЭБУ, – маскировать наличие параллельной топливной системы.
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика. Система работает так:
                        ol
                            li пропан поступает в редуктор – здесь в сравнение с предыдущей технологией принцип не изменился;
                            li редуктор-испаритель выдает постоянное давление
                                ol
                                    li на газовые форсунки
                                    li на бензиновые форсунки
                                        ol
                                            li в жидком виде
                                    li в цилиндр
                            li Как видите газобаллонное оборудование обзавелось управляющим блоком – это важнейший этап эволюции. Чтобы не вмешиваться в работу штатного блока управления (БУ) и не провоцировать «чек энджин», одна из задач, которую выполняет ЭБУ, – маскировать наличие параллельной топливной системы.
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика. Система работает так:
                        blockquote На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» #[a(href="#") газовыми форсунками] на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки.
            include partials/__footer.html
        include partials/__modals.html
        include partials/__scripts.html
