<!DOCTYPE html>
html(lang="ru")
    head
        - var title = 'Autogas12 - Смена пароля'
        - var cabinet = true
        include partials/__head
    body
        #outer
            include partials/__header.html
            .content.container.flexible
                aside.desktop-only.aside-cabinet
                    p
                        b Мой кабинет
                    nav
                        ul
                            li
                                a(href="#") История заказов
                            li
                                a(href="#") Корзина
                        ul
                            li
                                a(href="#") Личные данные
                            li.active
                                a(href="#") Изменить пароль
                            li.sign-out
                                a(href="#") Выход
                main.main-cabinet
                    header.flexible.has-dropdown
                        h1 Смена пароля
                        .heading-dropdown.dropdown.no-desktop
                            button.dropdown__btn Мой кабинет
                            .dropdown__content
                                ul
                                    li
                                        a(href="#") История заказов
                                    li
                                        a(href="#") Корзина
                                    li
                                        a(href="#") Личные данные
                                    li
                                        a(href="#") Изменить пароль
                                    li
                                        a(href="#") Выход
                    include partials/__form-cab-change-pass.html
            include partials/__footer.html
        include partials/__modals.html
        include partials/__scripts.html
