<!DOCTYPE html>
html(lang="ru")
    head
        - var title = 'Autogas12 - Секции'
        include partials/__head
    body
        #outer
            include partials/__header.html
            include partials/__breadcrumbs
            .content.container.sections
                .category-header
                    .category-header__title
                        h1 Оборудование 4 поколения
                .section-cards.flexible
                    .section-cards__item
                        .item__image-wrap.no-mob
                            a(href="#")
                                img(src="images/cap.jpg", alt="")
                        .item__title
                            a(href="#")
                                b Комплекты
                        .item__block
                            p
                                span Популярные бренды
                            ul
                                li
                                    a(href="#") Lovato
                                li
                                    a(href="#") STAG
                                li
                                    a(href="#") LPGTech
                                li
                                    a(href="#") KME
                                li
                                    a(href="#") Alex Optima
                        .item__block
                            p
                                span Часто спрашивают
                            ul
                                li
                                    a(href="#") Полные комплекты
                                li
                                    a(href="#") TSI, FSI, TFSI
                        .item__more
                            a(href="#")
                                span Смотреть все
                    .section-cards__item
                        .item__image-wrap.no-mob
                            a(href="#")
                                img(src="images/cap.jpg", alt="")
                        .item__title
                            a(href="#")
                                b Электроника
                        .item__block
                            p
                                span Популярные бренды
                            ul
                                li
                                    a(href="#") Lovato
                                li
                                    a(href="#") STAG
                                li
                                    a(href="#") KME
                                li
                                    a(href="#") Alex Optima
                        .item__block
                            p
                                span Часто спрашивают
                            ul
                                li
                                    a(href="#") Полные комплекты
                                li
                                    a(href="#") TSI, FSI, TFSI
                        .item__more
                            a(href="#")
                                span Смотреть все
                    .section-cards__item
                        .item__image-wrap.no-mob
                            a(href="#")
                                img(src="images/cap.jpg", alt="")
                        .item__title
                            a(href="#")
                                b Редукторы
                        .item__block
                            p
                                span Популярные бренды
                            ul
                                li
                                    a(href="#") Lovato
                                li
                                    a(href="#") STAG
                                li
                                    a(href="#") LPGTech
                        .item__block
                            p
                                span Часто спрашивают
                            ul
                                li
                                    a(href="#") Полные комплекты
                                li
                                    a(href="#") TSI, FSI, TFSI
                        .item__more
                            a(href="#")
                                span Смотреть все
                    .section-cards__item
                        .item__image-wrap.no-mob
                            a(href="#")
                                img(src="images/cap.jpg", alt="")
                        .item__title
                            a(href="#")
                                b Форсунки и жиклеры
                        .item__block
                            p
                                span Популярные бренды
                            ul
                                li
                                    a(href="#") Lovato
                                li
                                    a(href="#") STAG
                                li
                                    a(href="#") LPGTech
                                li
                                    a(href="#") KME
                                li
                                    a(href="#") Alex Optima
                        .item__block
                            p
                                span Часто спрашивают
                            ul
                                li
                                    a(href="#") Полные комплекты
                                li
                                    a(href="#") TSI, FSI, TFSI
                        .item__more
                            a(href="#")
                                span Смотреть все
                    .section-cards__item
                        .item__image-wrap.no-mob
                            a(href="#")
                                img(src="images/cap.jpg", alt="")
                        .item__title
                            a(href="#")
                                b Комплектующие для систем впрыска
                        .item__block
                            p
                                span Популярные бренды
                            ul
                                li
                                    a(href="#") Блоки управления и проводка
                                li
                                    a(href="#") Датчики температуры, давления и вакуума
                                li
                                    a(href="#") Датчики уровня газа
                                li
                                    a(href="#") Интерфейсы
                                li
                                    a(href="#") Переключатели и зуммеры
                        .item__block
                            p
                                span Часто спрашивают
                            ul
                                li
                                    a(href="#") Полные комплекты
                                li
                                    a(href="#") TSI, FSI, TFSI
                        .item__more
                            a(href="#")
                                span Смотреть все
                .popular
                    .popular__title
                        b Популярные товары
                    include partials/__popular-cards.html
                article
                    p Периодически о газе вспоминали, но в основном локально, от недостатка жидкого топлива, как в СССР, например. Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х. Страны Европы попали под удар из-за недостатка собственной добычи нефти. Благодаря развитости малого бизнеса, #[u наибольшее развитие в создании ГБО произошло в Италии]. Из семейных мануфактур того времени вышло большинство крупных производителей оборудования, которые нам известны сегодня.
                    h2 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                    p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                    p Для нормальной работы ГБО сперва отстраивают подачу газа на холостом ходу, а затем регулируют работу мотора на высоких оборотах. Из-за субъективности оценки настройки «на глаз», корректно настроить систему без специального оборудования практически невозможно.
                    h3 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                    p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
            include partials/__footer.html
        include partials/__modals.html
        include partials/__scripts.html
