<!DOCTYPE html>
html(lang="ru")
    head
        - var title = 'Autogas12 - Текстовая страница'
        include partials/__head
    body
        #outer
            include partials/__important-info.html
            include partials/__header.html
            .content.container.flexible
                aside.desktop-only
                    nav
                        ul
                            li
                                a(href="#") Акции
                            li
                                a(href="#") Новости
                            li
                                a(href="#") Статьи и обзоры
                        ul
                            li
                                a(href="#") Часто задаваемые вопросы
                        ul
                            li
                                a(href="#") Способы оплаты
                            li
                                a(href="#") Условия доставки
                            li.active
                                a(href="#") Обмен и возврат товаров
                        ul
                            li
                                a(href="#") О магазине
                            li
                                a(href="#") Установка ГБО
                
                main
                    header.has-dropdown.flexible
                        h1 Обмен и возврат товаров
                        .heading-dropdown.dropdown.no-desktop
                            button(class="dropdown__btn", type="button") Полезное
                            .dropdown__content
                                ul
                                    li
                                        a(href="#") Акции
                                    li
                                        a(href="#") Новости
                                    li
                                        a(href="#") Статьи и обзоры
                                    li
                                        a(href="#") Часто задаваемые вопросы
                                    li
                                        a(href="#") Способы оплаты
                                    li
                                        a(href="#") Условия доставки
                                    li
                                        a(href="#") Обмен и возврат товаров
                                    li
                                        a(href="#") О магазине
                                    li
                                        a(href="#") Установка ГБО
                    article
                        h4 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        ul
                            li пропан поступает в редуктор – здесь в сравнение с предыдущей технологией принцип не изменился;
                            li редуктор-испаритель выдает постоянное давление
                                ul
                                    li на газовые форсунки
                                    li на бензиновые форсунки
                                        ul
                                            li в жидком виде
                                    li в цилиндр
                            li Как видите газобаллонное оборудование обзавелось управляющим блоком – это важнейший этап эволюции. Чтобы не вмешиваться в работу штатного блока управления (БУ) и не провоцировать «чек энджин», одна из задач, которую выполняет ЭБУ, – маскировать наличие параллельной топливной системы.
                        h2 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и #[b фиксируются в момент настройки]. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
                        p Для нормальной работы ГБО сперва отстраивают подачу газа на холостом ходу, а затем регулируют работу мотора на высоких оборотах. Из-за субъективности оценки настройки «на глаз», корректно настроить систему без специального оборудования практически невозможно.
                        h5 Впервые глобальный интерес к газу вернулся с началом первого в истории цивилизации энергетического кризиса в начале 70-х
                        p На деле, это происходит проще, чем звучит, потому что сотрудничество БУ и ЭБУ основывается на принципе ведущий-ведомый. Управляющий блок ГБО «командует» газовыми форсунками на основе коррекций бензиновых алгоритмов, которые формируются и фиксируются в момент настройки. Да-да, здесь роль настройщика не меньше, чем в предыдущих поколениях, просто настройки получаются точнее, потому что основываются на данных БУ, а не на субъективных ощущениях настройщика.
            include partials/__footer.html
        include partials/__modals.html
        include partials/__scripts.html
